body{
  background: url("./bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  font-size: 36px;
}

#tela-jogo{
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  max-width: 760px;
  
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 50px;
  font-size: 48px;
  font-style: italic;
}

h1::after{
  content:"";
  display: block;
  width: 100px;
  height: 3px;
  background:#fff;
  margin: 5px auto;
  
}

canvas {
  border: 4px solid rgb(48, 131, 16);
}

p {
  font-weight: bold;

}
